div.grid-container {
    display: grid;

}

div.grid-r1-col1 {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1
}

div.grid-col1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: span 1
}


div.grid-col2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: span 1
}

button.close.mat-button {
    height: 30px;
    width: 30px;
}